<% restrooms.each do |rr| %>
    <h4><strong><%= link_to rr.name, restroom_path(rr) %></strong> &mdash; <%= rr.neighborhood.name %></h4>
    <% if logged_in? %>
        <p>Your rating: <%= current_user.rating_for(rr) %></p>
    <% end %>
    <p>Average rating: <%= rr.average_rating %></p>
    <button class="js-prev" data-id="<%= rr.id %>">Preview Restroom</button>

    <div id="preview-rest-<%= rr.id %>">
        <div id="preview-address-<%= rr.id %>"></div>
        <div id="preview-tags-<%= rr.id %>"></div>
    </div>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-prev").on("click", function() {
    let id = $(this).data("id");
    $.get("/restrooms/" + id + ".json", function(data) {
        console.log(data)
        $('#preview-address-' + id).text(`Address: ${data['address']} in ${data['neighborhood']['name']}`);
        let tags = data['tags'].map(tag => `<li>${tag['description']}</li>`).join("<br>");
        $('#preview-tags-' + id).html("<ul>" + tags + "</ul>");
    });
  });
});
</script>