<% restrooms.each do |rr| %>
    <h4><strong><%= link_to rr.name, restroom_path(rr) %></strong> &mdash; <%= rr.neighborhood.name %></h4>
    <% if logged_in? %>
        <p>Your rating: <%= current_user.rating_for(rr) %></p>
    <% end %>
    Average rating: <%= rr.average_rating %><br>
    <button class="js-prev btn ghost-cta" data-id="<%= rr.id %>">Preview</button>

    <div class="preview-rest" id="preview-rest-<%= rr.id %>">
        <div id="preview-address-<%= rr.id %>"></div>
        <div id="preview-tags-<%= rr.id %>"></div>
    </div>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function() {
    $(".js-prev").on("click", function() {
        let id = $(this).data("id");
        $(".preview-rest").hide();
        $("#preview-rest-" + id).show();
        $.get("/restrooms/" + id + ".json", function(data) {
            $('#preview-address-' + id).html(`<strong>Address:</strong> ${data['address']} in ${data['neighborhood']['name']}`);
            let tags = data['tags'].map(tag => `${tag['description']}`).join("<br>");
            $('#preview-tags-' + id).html("<strong>Tags:</strong><br>" + tags);
        });
    });
});
</script>