<h1>Update Restroom</h1>
<%= form_for @restroom do |f| %>
    <%= render partial: 'form', locals: {restroom: @restroom, f: f} %>
    <%= f.submit "Edit restroom", class: 'btn cta' %>
<% end %>

<%= render 'layouts/close_main_open_nav' %>

<%= link_to "Back to #{@restroom.name}", restroom_path(@restroom), class: 'btn ghost-cta' %>
<%= render 'layouts/right_nav_links' %>