<h1>where2p near you</h1>
<% @restrooms.each do |rr| %>
    <p><strong><%= link_to rr.name, restroom_path(rr) %></strong> &mdash; <%= rr.neighborhood.name %></p>
<% end %><br>

<%= render 'layouts/close_main_open_nav' %>

<%= render 'restrooms/add_restroom_btn' %>
<%= render 'layouts/right_nav_links' %>