<h1>Add a new restroom</h1>
<%= form_for @restroom do |f| %>
    <%= render partial: 'form', locals: {restroom: @restroom, f: f} %>
    <%= f.submit "Add restroom", class: 'btn cta' %>
<% end %>

<%= render 'layouts/close_main_open_nav' %>

<%= render 'layouts/right_nav_links' %>