<h1><%= @restroom.name %></h1>
<h3>Address: <%= @restroom.address %> in <%= @restroom.neighborhood.name %></h3>

<!-- add edit & delete buttons if admin -->
<%= render partial: 'layouts/edit_and_delete', locals: {resource: @restroom, edit_link: edit_restroom_path(@restroom), resource_link: restroom_path(@restroom)} %>

<!-- average rating, ratings view link, link to rate -->
<%= render 'restrooms/ratings', restroom: @restroom %>
<br>

<%= render 'restrooms/list_tags', restroom: @restroom %>

<!-- add tags form -->
<%= render partial: 'add_tags', locals: {restroom: @restroom, submit_text: "Add tags to #{@restroom.name}"} if logged_in? %>

<%= render 'layouts/close_main_open_nav' %>
<!-- link to see other restrooms in same neighborhood -->
<%= link_to "See other restrooms in #{@restroom.neighborhood.name}", neighborhood_path(@restroom.neighborhood), class: 'btn ghost-cta' %>
<%= render 'layouts/right_nav_links' %>

<!-- handlebars template for ratings -->
<script id="ratings-template" type="text/x-handlebars-template">
    <div id="">
        <p>{{description}}</p>
        <ul>
            {{#each ratings}}
            <li>{{stars}}</li>
            {{/each}}
        </ul>
    </div>
</script>