<h1>Update <%= current_user == @user ? "your" : "#{@user.name}'s'" %> profile</h1>
<%= form_for @user do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
    <%= f.submit 'Update Profile', class: 'btn cta' %>
<% end %>

<%= render 'layouts/close_main_open_nav' %>

<%= render 'layouts/right_nav_links' %>