<div class="row">
    <div class="col-sm-8">
        <h1>Sign Up</h1>
        <%= form_for @user do |f| %>
            <%= render partial: 'form', locals: {f: f} %>
            <%= f.submit 'Sign Up', class: 'btn cta' %>
        <% end %>
        <%= render 'sessions/oauth-link' %>
    </div>
    <div class="col-sm-4">
        <h3>Already have an account?</h3>
        <%= link_to "Log in", login_path, class: 'btn ghost-cta' %>
    </div>
</div>