<h1><%= @user.name %> <%= render partial: 'layouts/edit_and_delete', locals: {resource: @user, edit_link: edit_user_path(@user), resource_link: user_path(@user)} %></h1>
<ul>
    <li><strong>Email address:</strong> <%= @user.email %></li>
    <li><strong>Admin?:</strong> <%= admin_yes_or_no(@user) %></li>
</ul>

<h3>Restrooms you've rated</h3>
<%= render partial: 'restrooms/list_restrooms', locals: {restrooms: @restrooms} %>