<h2><%= "Update #{your_or_current} rating of #{@restroom.name}" %></h2>
<!-- update form for rating -->
<%= render partial: 'ratings/form', locals: {rating_url: restroom_rating_path(@restroom, @rating), rating: @rating, submit_text: 'Edit rating'} %>

<%= render 'layouts/close_main_open_nav' %>

<!-- 'back to ratings' button & main nav -->
<%= link_to "Back to ratings", restroom_ratings_path(@restroom), class: 'btn ghost-cta' %>
<%= render 'layouts/right_nav_links' %>