<h2><%= "Update #{your_or_current} rating of #{@restroom.name}" %></h2>
<%= render partial: 'form', locals: {rating: @rating, submit_text: 'Edit rating'} %>

<%= render 'layouts/close_main_open_nav' %>

<%= link_to "Back to ratings", restroom_ratings_path(@restroom), class: 'btn ghost-cta' %>
<%= render 'layouts/right_nav_links' %>