<h2><%= "Update #{@rating.user.name}'s rating of #{@restroom.name}" %></h2>
<%= form_for @rating, url: restroom_rating_path(@restroom, @rating) do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
    <%= f.submit 'Update Rating', class: 'btn cta' %>
<% end %>

<%= render 'layouts/close_main_open_nav' %>

<%= link_to "Back to ratings", restroom_ratings_path(@restroom), class: 'btn ghost-cta' %>
<%= render 'layouts/right_nav_links' %>