<h1>Ratings for <%= @restroom.name %></h1>
<% if !@ratings.empty? %>
    <% @ratings.each do |rat| %>
        <% if rat.id %>
            <h4><strong><%= pluralize(rat.value, 'star') %></strong></h4>
            <p>"<%= rat.comment %>" ~ <%= rat.user.name %></p>
            <% if (logged_in? && rat.user == current_user) || current_user.admin? %>
                <%= link_to 'Edit rating', edit_restroom_rating_path(@restroom, rat), class: 'btn ghost-cta' %>
                <%= link_to 'Delete rating', restroom_rating_path(@restroom, rat), method: 'delete', class: 'btn ghost-cta' %>
            <% end %>
        <% end %>
    <% end %>
<% elsif logged_in? %>
    <p>Be the first to rate this restroom!</p>
<% else %>
    <p>This restroom hasn't been rated yet.</p>
<% end %>

<h3>Add new rating for <%= @restroom.name %></h3>
<%= form_for @rating, url: restroom_ratings_path do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
    <%= f.submit 'Submit Rating', class: 'btn cta' %>
<% end %>