<h1><%= pluralize(@restroom.ratings_quantity, "rating") %> for <%= link_to @restroom.name, restroom_path(@restroom) %></h1>
<!-- display ratings or 'no ratings' content -->
<%= render 'ratings/list_ratings', ratings: @ratings if !@ratings.empty? %>
<%= render 'no_ratings' if @ratings.empty? %>

<!-- add rating form -->
<%= render 'ratings/add_rating', rating: @rating %>

<%= render 'layouts/add_restroom_nav' %>