<h1><%= pluralize(@restroom.ratings_quantity, "rating") %> for <%= link_to @restroom.name, restroom_path(@restroom) %></h1>
<%= render 'ratings/list_ratings', ratings: @ratings if !@ratings.empty? %>
<%= render 'no_ratings' if @ratings.empty? %>

<%= render 'ratings/add_rating', rating: @rating %>

<%= render 'layouts/close_main_open_nav' %>

<%= render 'layouts/right_nav_links' %>