<h1>Ratings for <%= @restroom.name %></h1>
<% if @ratings.empty? %>
    Be the first to rate this restroom!
<% else %>
    <% @ratings.each do |rat| %>
        <h4><strong><%= pluralize(rat.value, 'star') %></strong></h4>
        <p><%= rat.comment %></p>
        ~ <%= rat.user.name %><br>
    <% end %>
<% end %>

<h3>Add new rating for <%= @restroom.name %></h3>
<%= form_for @rating, url: restroom_ratings_path do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.label "How many stars would you rate this restroom?" %><br>
    <%= f.number_field :value, in: 1..5 %><br>
    <%= f.label 'Add a comment' %><br>
    <%= f.text_area :comment %><br>
    <%= f.submit 'Submit Rating', class: 'btn cta' %>
<% end %>