<h3>Change <%= @neighborhood.name %> name</h3>
<%= form_for @neighborhood do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
    <%= f.submit 'Update neighborhood', class: 'btn cta' %>
<% end %>

<%= render 'layouts/close_main_open_nav' %>

<%= link_to "Back to #{@neighborhood.name}", neighborhood_path(@neighborhood), class: 'btn ghost-cta' %>
<%= render 'layouts/right_nav_links' %>