<h3>Change <%= @neighborhood.name %> name</h3>
<%= render partial: 'form', locals: {neighborhood: @neighborhood, submit_text: 'Update neighborhood'} %>

<%= render 'layouts/close_main_open_nav' %>

<%= link_to "Back to #{@neighborhood.name}", neighborhood_path(@neighborhood), class: 'btn ghost-cta' %>
<%= render 'layouts/right_nav_links' %>