<h1>Find restrooms by neighborhood</h1>
<%= render partial: 'neighborhoods/list_neighborhoods', locals: {neighborhoods: @neighborhoods} %>
<% if logged_in_as_admin? %>
    <h3>Add a new neighborhood</h3>

    <%= render partial: 'form', locals: {neighborhood: @neighborhood, submit_text: 'Add neighborhood'} %>
<% end %>

<%= render 'layouts/close_main_open_nav' %>

<%= render 'restrooms/add_restroom_btn' %>
<%= render 'layouts/right_nav_links' %>