<h1>Restrooms in <%= @neighborhood.name %></h1>
<%= render partial: 'layouts/edit_and_delete', locals: {resource: @neighborhood, edit_link: edit_neighborhood_path(@neighborhood), resource_link: neighborhood_path(@neighborhood)} %>

<%= render 'neighborhoods/show_restrooms', neighborhood: @neighborhood %>

<%= render 'layouts/close_main_open_nav' %>

<%= render 'layouts/right_nav_links' %>