<h1>Restrooms in <%= @neighborhood.name %></h1>
<% if !@neighborhood.restrooms.empty? %>
    <% @neighborhood.restrooms.each do |restroom| %>
        <p><%= link_to restroom.name, restroom_path(restroom) %></p>
    <% end %>
<% elsif logged_in? %>
    <p>Be the first to add a restroom in this neighborhood!</p>
    <p><%= link_to "Add a new restroom", new_restroom_path, class: 'btn cta' %></p>
<% else %>
    <p>We don't know about any restrooms in <%= @neighborhood.name %> yet! Sign in to add one ;)</p>
<% end %>

<% if logged_in_as_admin? %>
    <%= render partial: 'layouts/edit_and_delete', locals: {resource: @neighborhood, edit_link: edit_neighborhood_path(@neighborhood), resource_link: neighborhood_path(@neighborhood)} %>
<% end %>

<%= render 'layouts/close_main_open_nav' %>

<%= render 'layouts/right_nav_links' %>