<!DOCTYPE html>
<html>
  <head>
    <title>where2p</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <div class="container">
      <%= content_tag :div, "/// #{flash[:message]}", id: "flash_message" if flash[:message] %>
      <div class="row">
        <div class="col-sm-8">
          <%= yield %>
        </div>
      </div>
    </div>

    <footer>
      <div class="container-fluid">
        <div class="foot-note text-right">
          <a href="https://github.com/marielfrank">Made by Mariel &#128701;</a>
        </div>
      </div>
    </footer>
  </body>
</html>
